<h1>All Posts</h1>

<%= link_to 'Add New Post', new_post_path %>

<% if @posts.any? %>
  <% @posts.each do |post| %>
    <div>
      <h2><%= post.title %></h2>
      <p><%= post.content %></p>
      <hr>
    </div>
  <% end %>
<% else %>
  <p>No posts yet.</p>
<% end %>